@font-face {
    font-family: 'Gruppo';
    font-style: normal;
    font-weight: 400;
    src: url('../asset/fonts/Gruppo-Regular.eot');
    /* IE9 Compat Modes */
    src: local(''), url('../asset/fonts/Gruppo-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../asset/fonts/Gruppo-Regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../asset/fonts/Gruppo-Regular.woff') format('woff'), /* Modern Browsers */
    url('../asset/fonts/Gruppo-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../asset/fonts/Gruppo-Regular.svg#Gruppo') format('svg');
    /* Legacy iOS */
}

@font-face {
    font-family: 'Pokemon';
    font-style: normal;
    font-weight: 400;
    src: url('../asset/fonts/Pokemon.eot');
    /* IE9 Compat Modes */
    src: local(''), url('../asset/fonts/Pokemon.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../asset/fonts/Pokemon.woff2') format('woff2'), /* Super Modern Browsers */
    url('../asset/fonts/Pokemon.woff') format('woff'), /* Modern Browsers */
    url('../asset/fonts/Pokemon.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../asset/fonts/Pokemon.svg#Pokemon') format('svg');
    /* Legacy iOS */
}