* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

*::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
*::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #ee534f;
}
*::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: #2c2c33;
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    background: #161618 !important;
    font-family: Gruppo !important;
    overflow: hidden;
}

.loaderBg {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: #161618;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 16px;
    color: #fff;
    z-index: 2;
}

.loader {
  border: 32px solid #f3f3f3;
  border-top: 32px solid #ef403a;
  border-radius: 50%;
  width: 240px;
  height: 240px;
  animation: spin 2.5s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
}

.navbar {
    padding: 16px 0 16px 0 !important;
    margin-bottom: 32px;
    border-bottom: 1px solid #ee534f;
    /* width: 100%; */
}

.bg-nav {
    background-color: #161618;
}

.navbar-brand {
    display: flex;
    color: #fff !important;
    align-items: center;
}

.navbar-brand h1 {
    font-family: Pokemon !important;
    color: yellow !important;
    text-shadow: 
    -2px -2px 0 blue,
    2px -2px 0 blue,
    -2px 2px 0 blue,
    2px 2px 0 blue;
}

.form-control {
    background-color: #ffffff87 !important;
}

main {
    height: 70vh;
    position: absolute;
    top: 150px;
    overflow-y: scroll;
}

.infoCard {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 48px;
    margin-bottom: 16px;
}

.card {
    width: 230px !important;
    color: #fff !important;
}

.card:hover {
    transition-duration: 0.2s;
    transform: scale(1.1) rotate(5deg);
    cursor: pointer;
}

.card-header {
    border-bottom: var(--bs-card-border-width) solid #000 !important;
}

.pokemonImgWraper {
    display: flex;
    justify-content: center;
    gap: 8px;
    flex-direction: column;
}

.pokemonImgWraper img {
    height: 75px;
}

.tagFrame {
    border: 1px solid #000;
    border-radius: 15px;
    padding: 8px;
    text-align: center;
}

.tags {
    display: flex;
    gap: 8px;
}

.nextPokemonBtn {
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
}

.btn-outline-secondary {
    --bs-btn-color:  !important;
    --bs-btn-border-color: #ee534f !important;
    --bs-btn-hover-bg: #ee534f !important;
    --bs-btn-hover-border-color: #ee534f !important;
    --bs-btn-active-bg: #ee534f !important;
    --bs-btn-active-border-color: #ee534f !important;
    --bs-btn-disabled-color: #ee534f !important;
    --bs-btn-disabled-border-color: #ee534f !important;
    color: #fff !important;
}

.d-none {
    display: none;
}

footer {
    background-color: #161618;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    color: #fff;
    border-top: 1px solid #ee534f;
    padding: 16px 0 16px 0;
    margin-top: 32px;
}

dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    border-radius: 40px;
    padding: 32px 16px 32px 16px;
    background: #161618;
    height: 65%;
    width: 320px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    outline: none;
}

dialog::backdrop {
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.5);
}

dialog[open] {
    display: flex;
}

dialog main {
    position: fixed;
    padding: 16px;
    top: 82px;
    height: auto;
    overflow-y: hidden;
    background: #161618;
}

#myDialog header {
    background: #161618;
    padding: 0;
}

#myDialog header h2 {
    padding: 16px;
}

#myDialog header img {
    position: absolute;
    top: 16px;
    left: 88%;
}

#myDialog header img:hover {
    filter: drop-shadow(0px 0px 4px #fff);
    cursor: pointer;
}

#myDialog section {
    display: flex;
    flex-direction: column;
}

#myDialog #imgDialog {
    height: 120px;
    margin-bottom: 16px;
}

#pokeDescript table {
    display: flex;
}

#pokeDescript table tbody {
    display: flex;
    flex-direction: column;
}

#pokeDescript table tbody tr {
    display: flex;
    justify-content: space-between;
    gap: 100px;
}

#pokeDescript #dialogTags {
    margin-top: 16px;
}

#myDialog footer {
    background: #161618;
    justify-content: space-between;
    align-items: center;
    padding: 48px;
    border-top: none;
}

#myDialog footer img:hover {
    filter: drop-shadow(0px 0px 4px #FD5B4F);
    cursor: pointer;
}

.type-grass {
    background-color: green !important;
}

.type-normal {
   background-color: #89885b !important;
}

.type-fire {
   background-color: #e2562c !important;
}

.type-water {
   background-color: #2f53d6 !important;
}

.type-electric {
   background-color: #c19e10 !important;
}

.type-ice {
   background-color: #4ec3d5 !important;
}

.type-fighting {
   background-color: #d73a49 !important;
}

.type-poison {
   background-color: #c77dff !important;
}

.type-ground {
   background-color: #977320 !important;
}

.type-flying {
   background-color: #867ef9 !important;
}

.type-psychic {
   background-color: #ff6fae !important;
}

.type-bug {
   background-color: #27cd35 !important;
}

.type-rock {
   background-color: #3b351d !important;
}

.type-ghost {
   background-color: #8b5cf6 !important;
}

.type-dragon {
   background-color: #7c7cff !important;
}

.type-dark {
   background-color: #636e72 !important;
}

.type-steel {
   background-color: #b1bac4 !important;
}

.type-fairy {
   background-color: #f0a6ca !important;
} 