* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

body {
    min-height: 100vh;
    background: #161618 !important;
    font-family: Gruppo !important;
}

/* nav {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
} */

.navbar {
    padding: 16px 0 16px 0 !important;
    margin-bottom: 32px;
    border-bottom: 1px solid #9a0403;
}

.bg-nav {
    background-color: #161618;
}

.navbar-brand {
    display: flex;
    color: #fff !important;
    align-items: center;
}

.navbar-brand h1 {
    font-family: Pokemon !important;
    color: yellow !important;
    text-shadow: 
    -2px -2px 0 blue,
    2px -2px 0 blue,
    -2px 2px 0 blue,
    2px 2px 0 blue;
}

.form-control {
    background-color: #ffffff87 !important;
}

main {
    display: flex;
    flex-grow: 1;
}

.infoCard {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 48px;
}

.card {
    width: 230px !important;
}

.card-header {
    border-bottom: var(--bs-card-border-width) solid #9a0403 !important;
}

.pokemonImgWraper {
    display: flex;
    justify-content: center;
    gap: 8px;
    flex-direction: column;
}

.pokemonImgWraper img {
    height: 75px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    color: #fff;
    border-top: 1px solid #9a0403;
    padding: 16px 0 16px 0;
}