@media (min-width: 1441px) {
    .navbar-brand {
        padding-left: calc((100% - 1440px) / 2);
        padding-right: calc((100% - 1440px) / 2);
    }
    main {
        padding-left: calc((100% - 1440px) / 2);
        padding-right: calc((100% - 1440px) / 2);
    }
}

@media (min-width: 320px) and (max-width: 768px) {
    footer {
        font-size: 8px;
    }
}